<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 welcome-message">
      <div class="jumbotron card card-block">
        <h2>
          Welcome to YouSpeak!
        </h2>
        <p>
          Some text to pay attention
        </p>
        <hr />
        <p>
          <%= link "Sign in with Google", class: "btn btn-primary", to: Routes.auth_path(@conn, :request, "google") %>
        </p>
      </div>
    </div>
  </div>
</div>
