<section class="phx-hero">
  <p>
    <%= link "Sign in with Google", class: "button", to: Routes.auth_path(@conn, :request, "google") %>
  </p>
</section>

<%= if @conn.assigns[:user] do %>
<ul>
  <li>
    <%= link "Add group", to: Routes.group_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" %>
  </li>

  <li>
    <%= link "List group", to: Routes.group_path(@conn, :index), class: "btn-floating btn-large waves-effect waves-light red" %>
  </li>
</ul>
<% end %>
