<h5>Listing groups</h5>

<ul class="collection">
  <%= for group <- @groups do %>
    <li class="collection-item">
      <%= link group.name %>
    </li>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: Routes.group_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">Add</i>
  <% end %>
</div>
